PORT=5001
NODE_ENV=production
CORS_ORIGIN=https://demo-shop.honeysocial.click
FRONTEND_URL=https://demo-shop.honeysocial.click
DATABASE_URL=postgresql://postgres:REPLACE_ME@database-1.c1u088omicxb.ap-southeast-1.rds.amazonaws.com:5432/postgres?schema=public&sslmode=require
JWT_SECRET=REPLACE_ME
JWT_REFRESH_SECRET=REPLACE_ME
AI_SERVICE_URL=https://api-ai.honeysocial.click/predict

AWS_ACCESS_KEY_ID=REPLACE_ME
AWS_SECRET_ACCESS_KEY=REPLACE_ME
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=verita-phone-store-assets1
AWS_CLOUDFRONT_DOMAIN=dqwxtopaa87nn.cloudfront.net
